<ng-container *ngIf="images.length === 1">
  <div class="one-container">
    <img [src]="images[0]" lightbox />
  </div>
</ng-container>
<ng-container *ngIf="images.length === 2">
  <div class="two-container" lightbox-group>
    <div *ngFor="let image of images; let i = index" [ngClass]="classes[i]">
      <img [src]="image" lightbox />
    </div>
  </div>
</ng-container>
<ng-container *ngIf="images.length === 3">
  <div class="three-container" lightbox-group>
    <div *ngFor="let image of images; let i = index" [ngClass]="classes[i]">
      <img [src]="image" lightbox />
    </div>
  </div>
</ng-container>
<ng-container *ngIf="images.length === 4">
  <div class="foor-container" lightbox-group>
    <div *ngFor="let image of images; let i = index" [ngClass]="classes[i]">
      <img [src]="image" lightbox />
    </div>
  </div>
</ng-container>
<ng-container *ngIf="images.length === 5">
  <div class="five-container" lightbox-group>
    <div *ngFor="let image of images; let i = index" [ngClass]="classes[i]">
      <img [src]="image" lightbox />
    </div>
  </div>
</ng-container>
<ng-container *ngIf="images.length > 5">
  <div class="five-container" lightbox-group>
    <div
      *ngFor="let image of images; let i = index"
      [ngClass]="i < 5 ? classes[i] : 'more-image'"
    >
      <div class="more" *ngIf="i === 4">+</div>
      <img [src]="image" lightbox />
    </div>
  </div>
</ng-container>
