.footer{
  margin-top: 50px;
  height: 200px;
  background-color: var(--dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align:center ;
}
