<div class="container" *ngIf="recipe; else loading">
  <!--*title  -->
  <div class="title">
    {{ recipe.name }}
  </div>
  <div class="by mb-1 mb-md-3">
    by <b> {{ creatorUsername }} </b>
  </div>
  <!--*rating  -->
  <div class="rating">
    <div class="stars" *ngIf="rating; else notRated">
      <mat-icon>{{ rating < 1 ? "star_half" : "star" }}</mat-icon>
      <mat-icon>{{
        rating <= 1 ? "star_outline" : rating <= 1.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 2 ? "star_outline" : rating <= 2.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 3 ? "star_outline" : rating <= 3.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 4 ? "star_outline" : rating <= 4.5 ? "star_half" : "star"
      }}</mat-icon>

      <span
        >{{ recipe.ratings?.length }} Rating
        {{ recipe.ratings?.length == 1 ? "" : "s" }}
      </span>
    </div>
    <ng-template #notRated>
      <div class="my-2 flex-center">
        <mat-icon class="mr-2">star_outline</mat-icon>
        <span> No ratings yet</span>
      </div>
    </ng-template>
  </div>

  <!--*description  -->
  <section>
    <div class="description mb-3">
      {{ recipe.description }}
    </div>

    <div class="row">
      <!--*gallery  -->
      <div class="col-lg-9 gallery">
        <carousel
          [images]="imagesPaths"
          [objectFit]="'contain'"
          [cellWidth]="'100%'"
          [autoplay]="false"
          [dots]="true"
        >
        </carousel>
      </div>
      <div class="col-lg-3">
        <!--*info  -->
        <div class="info">
          <div class="time-icon"><mat-icon>schedule</mat-icon></div>
          <div><b> Prep: </b> {{ recipe.prepTime }}mins</div>
          <div><b> Cook: </b> {{ recipe.cookTime }}mins</div>
          <div><b> Total: </b> {{ recipe.cookTime + recipe.prepTime }}mins</div>
          <div><b> Serving: </b> {{ recipe.serving }}</div>
          <div><b> Yield: </b> {{ recipe.servingsYield }}</div>
        </div>
      </div>
    </div>
  </section>

  <hr />
  <!--*Ingredients  -->
  <section>
    <div class="sub-title">Ingredients</div>
    <div class="ingredients">
      <div *ngFor="let ing of recipe.ingredients; let i = index">
        <div class="ing mb-4">
          {{ ing.amount + " " + ing.unit + "s " + ing.name }}
        </div>
      </div>
    </div>
  </section>
  <hr />
  <!--*Instructions  -->
  <section>
    <div class="sub-title">Instructions</div>
    <div class="instructions">
      <div *ngFor="let inst of recipe.instructions; let i = index">
        <div class="step mb-3">
          <mat-icon class="mr-2"
            ><span class="material-symbols-outlined"> task_alt </span></mat-icon
          >
          <span> Step {{ i + 1 }} </span>
        </div>
        <div class="inst mb-4">
          {{ inst }}
        </div>
      </div>
    </div>
    <!--*actions  -->
    <div class="actions">
      <span
        [routerLink]="'/edit/' + recipe._id"
        *ngIf="myRecipe"
        class="btn edit"
        ><mat-icon>settings</mat-icon>
        <span>Edit</span>
      </span>
      <span *ngIf="!myRecipe" (click)="onRate()" class="btn rate"
        ><mat-icon>{{ rated ? "star" : "star_outline" }}</mat-icon>
        <span>Rate</span>
      </span>
      <span *ngIf="!myRecipe" (click)="onLike()" class="btn save"
        ><mat-icon>{{ liked ? "favorite" : "favorite_outline" }}</mat-icon>
        <span>{{ liked ? "Unsave" : "Save" }}</span>
      </span>
    </div>
  </section>
  <hr />
  <!--* related recipes  -->
  <section>
    <div class="sub-title">Recipes you might like</div>
    <app-related-recipes [tags]="['']"></app-related-recipes>
  </section>
</div>

<ng-template #loading>
  <!--*loading spinner  -->
  <div *ngIf="loading" class="flex-center loading">
    <div class="snippet" data-title=".dot-flashing">
      <div class="stage">
        <div class="dot-flashing"></div>
      </div>
    </div>
  </div>
</ng-template>
