.landing {
  position: relative;
  background: url(../../../assets/bg2.jpg);
  background-size: cover;

  .container {
    padding-top: 80px;
    padding-bottom: 50px;
    flex-direction: column;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

    .title {
      position: relative;
      text-align: center;
      z-index: 2;
      font-weight: 600;
      font-size: 33px;
      line-height: 40px;
      letter-spacing: -.02em;
      color: #fff
    }
  }
}

.form-container {
  padding: 15px;
  position: relative;

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;

    .loading-overlay {
      background: #ffffff70;
      width: 100%;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .loading-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
      font-size: 23px;
      font-weight: 500;
      background-color: #0B987ECC;
      padding: 20px 25px;
      color: white;
      border-radius: 20px;
    }
  }

  .input,
  .submit-btn {
    display: block;
    padding: 11px 16px;
    border-radius: 3px;
    width: 100%;
    background-color: var(--grey);
    border: 2px solid rgba(255, 255, 255, 0);
  }

  .field {
    position: relative;
    margin-bottom: 25px;

    .input:focus {
      outline: none;
      border: 2px solid var(--green);
    }

    input.ng-touched.ng-invalid,
    textarea.ng-touched.ng-invalid {
      border: 2px solid var(--red) !important;
    }

    .input-invalid {
      font-size: 12px;
      color: var(--red);
      position: absolute;
      left: 15%;
      bottom: -30px;
    }

    input[formControlName=inst] {
      padding-left: 33px;
    }

    .instruction-index {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .other {
    position: relative;

    .undo {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      height: 18px;
      width: 18px;
      cursor: pointer;
    }

    .undo:hover {
      color: var(--green);
    }
  }

  .submit-btn {
    background-color: var(--green);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    font-weight: 500;
  }

  .submit-btn:hover {
    background-color: var(--lightGreen);
  }

  .submit-btn:disabled,
  .submit-btn[disabled] {
    opacity: 0.5;
    cursor: unset;
  }

  .submit-btn:disabled:hover,
  .submit-btn[disabled]:hover {
    background-color: var(--green);
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--green);
}



.add {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: var(--green);
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.addlg {
  padding: 8px 15px;
  border-radius: 5px;
}

.addsm {
  padding: 5px 5px;
  border-radius: 30%;
  font-size: 0px;

  mat-icon {
    margin: 0 !important;
  }
}

.removeField {
  position: absolute;
  right: -25px;
  background-color: var(--red);
  color: white;
  cursor: pointer;
  padding: 2px 2px;
  border-radius: 30%;
  font-size: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: none
}

.removeField:disabled,
.removeField[disabled] {
  background-color: #ec717f;
  cursor: unset;
}

.submit-section {
  margin-top: 20px;

  .private {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.input-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

//* Images gallery section

.galery-container {
  width: 100%;
  min-height: 204px;
  border: solid 1px #e0e0e0;
  background-color: var(--grey);
  ;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.full {
  justify-content: left;
  padding: 10px;

  .image-box {
    position: relative;

    img {
      height: 100px;
      width: 112px;
      object-fit: cover;
      margin-right: 8px;
      margin-bottom: 15px;
      border-radius: 10px;
    }

    .delete-icon {
      display: none;
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 12px;
      color: white;
      background-color: var(--red);
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .image-box:hover>.delete-icon {
    display: flex;
  }

  .add-image {
    height: 100px;
    border: 1px solid #e0e0e0;
    width: 112px;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 15px;
    cursor: pointer;

    mat-icon {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 767px) {
  .landing {
    .container {
      .title {
        font-size: 24px !important;
      }
    }
  }

  .submit-btn {
    width: 100% !important;
  }

  .galery-container {
    min-height: 150px
  }
}

@media only screen and (max-width: 575px) {
  .sm-marginFix {
    right: -65px;
  }
}
