.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 10%;
  transition: all ease 500ms;
  //* Logo style
  .logo{
    padding: 15px;
    color: red;
  }
  //* Links area
  .links-container{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    .link{
      font-size: 16px;
      font-weight: bold;
      color: #fff;
    }
    .join-btn {
      background-color: #fff;
      border: none;
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
    .join-btn:hover {
      background-color: rgb(220, 220, 220);
    }

    //* Scroll style change
    .link-scroll{
      color: var(--green);
    }
    .btn-scroll {
      background-color: var(--green);
      color: #fff;
    }
    .btn-scroll:hover {
      background-color: var(--darkGreen);
    }
    //* Profile pick
    .profile-pic{
      width: 40px;
      height: 40px;
      outline: 2px solid white;
      outline-offset: 1px;
      border-radius: 50%;
      cursor: pointer;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .profile-pic:hover {
      outline: 2px solid var(--green);
    }
    .profile-pic-scroll{
      outline: 2px solid var(--green);
    }
    .profile-pic-scroll:hover {
      outline: 2px solid var(--lightGreen);
    }
  }
  //* small screen view
  .sm-links-btn-container{
    display: flex;
    justify-content: right;
    align-items: center;
    .sm-links-btn{
      background-color: red;
      border: none;
    }
  }
}

//* Scroll style change
.header-scroll{
  background-color: white;
}


::ng-deep .cdk-overlay-pane{
  margin-top: 5px;
}
