<div class="container-xl">
  <div class="row">
    <div class="col-md-6 form-side">
      <div class="logo">logo</div>
      <div class="title">Join us and share your best recipes</div>
      <div class="subtitle">
        you already have an account? <span [routerLink]="'/login'">Login</span>
      </div>

      <div class="form-container">
        <form
          [formGroup]="registerForm"
          #formDirective="ngForm"
          (submit)="onFormSubmit(registerForm.value, formDirective)"
        >
          <!--*username field  -->
          <div class="field">
            <input
              class="username"
              formControlName="username"
              type="text"
              placeholder="Username"
            />
            <p
              class="input-invalid"
              *ngIf="validInput('username', registerForm)"
            >
              username must be 3 to 15 characters
            </p>
          </div>
          <!--*email field  -->
          <div class="field">
            <input
              class="email"
              formControlName="email"
              type="email"
              placeholder="Email"
            />
            <p class="input-invalid" *ngIf="validInput('email', registerForm)">
              you must use a valid email
            </p>
          </div>
          <!--*password field  -->
          <div class="field">
            <input
              class="password"
              formControlName="password"
              min="8"
              type="password"
              placeholder="Password"
            />
            <p
              class="input-invalid"
              *ngIf="validInput('password', registerForm)"
            >
              password must be mix of lowercase, uppercase and numbers (min 8
              chars)
            </p>
          </div>
          <!--*confirm password field  -->
          <div class="field">
            <input
              class="repassword"
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              min="8"
            />
            <p
              class="input-invalid"
              *ngIf="validInput('confirmPassword', registerForm, true)"
            >
              passwords must match
            </p>
          </div>
          <button
            class="submit-btn"
            type="submit"
            [disabled]="!registerForm.valid"
          >
            Create New Account
          </button>
        </form>
        <!--*loading spinner  -->
        <div *ngIf="loading" class="flex-center loading">
          <div class="snippet" data-title=".dot-flashing">
            <div class="stage">
              <div class="dot-flashing"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 gallery-side-container">
      <div class="gallery-side">
        <div class="a">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
        <div class="b">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
        <div class="c">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
        <div class="d">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
        <div class="e">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
        <div class="f">
          <img
            src="https://res.cloudinary.com/notkirito18/image/upload/v1657051026/assets/bg_dwevxj.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
