<div class="landing">
  <div class="container">
    <div class="overlay"></div>
    <div class="title">Share your recipe now</div>
  </div>
</div>
<div class="container form-container">
  <div class="loading" *ngIf="loading">
    <div class="loading-overlay"></div>
    <div class="loading-content">
      <div>Adding Recipe</div>
      <div class="snippet" data-title=".dot-flashing">
        <div class="stage">
          <div class="dot-flashing"></div>
        </div>
      </div>
    </div>
  </div>
  <form
    [formGroup]="newRecForm"
    #formDirective="ngForm"
    (submit)="addRecipe(newRecForm.value, formDirective)"
  >
    <!--*Name and description  -->
    <div class="row">
      <div class="col-md-6">
        <!--*recipe name  -->
        <div class="field">
          <div class="input-label">
            Recipe Name
            <tooltip
              message="Give the name of the recipe.(*mandatory)"
            ></tooltip>
          </div>
          <input type="text" formControlName="name" placeholder="Recipe name" />
        </div>
        <!--*Description  -->
        <div class="field">
          <div class="input-label">
            Recipe Description
            <tooltip
              message="Give a description for the recipe.(*mandatory)"
            ></tooltip>
          </div>
          <textarea
            rows="5"
            formControlName="description"
            placeholder="Recipe description"
          ></textarea>
        </div>
      </div>
      <!--*Images  -->
      <div class="col-md-6">
        <div class="input-label">
          Recipe Gallery
          <tooltip message="upload pictures of the recipe.(optional)"></tooltip>
        </div>
        <input
          type="file"
          #fileInput
          style="display: none"
          accept="image/*"
          multiple
          (change)="onFilesImport($event)"
        />
        <!-- container when empy -->
        <ng-container *ngIf="imagesSrcs.length <= 0">
          <div
            class="galery-container flex-center m-t-10"
            (click)="fileInput.click()"
          >
            <div class="flex-center">
              <mat-icon class="m-r-10">add</mat-icon><span> Import images</span>
            </div>
          </div>
        </ng-container>
        <!-- container when not empy -->
        <ng-container *ngIf="imagesSrcs.length > 0">
          <div class="galery-container full flex-center m-t-10">
            <div class="image-box" *ngFor="let image of imagesSrcs">
              <img
                [src]="
                  image
                    ? image.url
                    : 'https://www.mountaingoatsoftware.com/uploads/blog/2016-09-06-what-is-a-product.png'
                "
                alt="product-image"
              />
              <div
                mat-ripple
                class="delete-icon flex-center"
                (click)="deleteImage(image.url, image.localId)"
              >
                <mat-icon>remove</mat-icon>
              </div>
            </div>
            <div
              class="add-image flex-center"
              mat-ripple
              (click)="fileInput.click()"
            >
              <mat-icon>add</mat-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <!--*Ingredients  -->
      <div class="col-md-6">
        <div style="position: relative">
          <div class="input-label">
            Ingredients
            <tooltip
              message="Insert the ingredient, unit of measurement and the amount.(*at least one ingredient)"
            ></tooltip>
          </div>
          <span
            *ngIf="!(screenSize == 'sm' || screenSize == 'xs')"
            class="addlg add"
            (click)="addCtrl('ing')"
            >Add Ingredient</span
          >
          <span
            *ngIf="screenSize == 'sm' || screenSize == 'xs'"
            class="addsm add"
            (click)="addCtrl('ing')"
            ><mat-icon>add</mat-icon></span
          >
        </div>
        <div
          formArrayName="ingredients"
          *ngFor="let ing of ingCtrl.controls; let i = index"
        >
          <div class="row" [formGroupName]="i">
            <div class="col-sm-6 field">
              <input
                formControlName="ingName"
                type="text"
                placeholder="Ingredient"
              />
            </div>
            <div class="col-sm-3 field">
              <input formControlName="ingUnit" type="text" placeholder="Unit" />
            </div>
            <div class="col-sm-2 col-10 field">
              <input
                style="padding: 11px 5px"
                formControlName="ingAmount"
                type="number"
                min="1"
                placeholder="Amount"
              />
              <button
                class="removeField sm-marginFix"
                [disabled]="i < 1 && ingCtrl.controls.length < 2"
                (click)="removeCtrl(i, 'ing')"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--*Instructions  -->
      <div class="col-md-6">
        <div style="position: relative">
          <div class="input-label">
            Instructions (Steps)
            <tooltip
              message="Step by step instructions for the recipe.(*at least one step)"
            ></tooltip>
          </div>
          <span
            *ngIf="!(screenSize == 'sm' || screenSize == 'xs')"
            class="addlg add"
            (click)="addCtrl('inst')"
          >
            Add Instruction
          </span>
          <span
            *ngIf="screenSize == 'sm' || screenSize == 'xs'"
            class="addsm add"
            (click)="addCtrl('inst')"
          >
            <mat-icon>add</mat-icon>
          </span>
        </div>
        <div
          formArrayName="instructions"
          *ngFor="let inst of instCtrl.controls; let i = index"
        >
          <div class="row" [formGroupName]="i">
            <div class="col-11 field">
              <div class="instruction-index">{{ i + 1 }}.</div>
              <input
                formControlName="inst"
                type="text"
                [placeholder]="'step ' + (i + 1).toString()"
              />
              <button
                class="removeField"
                [disabled]="i < 1 && instCtrl.controls.length < 2"
                (click)="removeCtrl(i, 'inst')"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--* Info section  -->
    <div class="row">
      <!--*prepTime  -->
      <div class="col-md-3">
        <div class="field">
          <div class="input-label">
            Preperation
            <tooltip
              message="An estimate of the preperation time.(*mandatory)"
            ></tooltip>
          </div>
          <input
            type="number"
            min="0"
            formControlName="prepTime"
            placeholder="In minutes"
          />
        </div>
      </div>
      <!--*cookTime  -->
      <div class="col-md-3">
        <div class="field">
          <div class="input-label">
            Cooking
            <tooltip
              message="An estimate of the cooking time.(*mandatory)"
            ></tooltip>
          </div>
          <input
            type="number"
            min="0"
            formControlName="cookTime"
            placeholder="In minutes"
          />
        </div>
      </div>
      <!--*serving  -->
      <div class="col-md-3">
        <div class="field">
          <div class="input-label">
            Servings
            <tooltip
              message="How many servings for this recipe (eg: how many cupcakes).(optional)"
            ></tooltip>
          </div>
          <input
            type="number"
            min="0"
            formControlName="serving"
            placeholder="Servings"
          />
        </div>
      </div>
      <!--*servingsYield  -->
      <div class="col-md-3">
        <div class="field">
          <div class="input-label">
            Yield
            <tooltip
              message="An estimate of how many people this recipe is for.(*mandatory)"
            ></tooltip>
          </div>
          <input
            type="number"
            min="0"
            formControlName="servingsYield"
            placeholder="People"
          />
        </div>
      </div>
    </div>

    <!--* public or private recipe / submit  -->
    <div class="submit-section">
      <div class="private">
        <input type="checkbox" formControlName="share" />
        <span>Make this recipe private (only you can see it)</span>
      </div>
      <button type="submit" class="submit-btn" [disabled]="!newRecForm.valid">
        Add New Recipe
      </button>
    </div>
  </form>
</div>
