<section class="landing">
  <div class="container flex-center">
    <div class="overlay"></div>
    <div class="content">
      <h1 class="title-text">
        Find the best recipes from around the world, and share your own recipe
        all in one place
      </h1>
      <div class="search" [ngClass]="searchClass(scrolled, screenSize)">
        <div class="search-container">
          <input
            type="text"
            [(ngModel)]="searchFilter"
            (ngModelChange)="searchChange()"
            placeholder="Search for recipes"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--* tags filters  -->
<section class="recipes-display" *ngIf="recipes; else loading">
  <div class="filters-bar">
    <span
      [ngClass]="selectedTags.includes(tag) ? 'active' : ''"
      (click)="tagFilter(tag, !selectedTags.includes(tag))"
      *ngFor="let tag of tags"
      >{{ capitalCase(tag) }}</span
    >
  </div>
  <!--* recipes  -->
  <div class="container">
    <div
      class="recipes-container row"
      *ngIf="filteredRecipes.length > 0; else noRecipes"
    >
      <div class="col-md-6 col-lg-3" *ngFor="let recipe of pageSliceRecipes">
        <app-recipe [recipe]="recipe"></app-recipe>
      </div>
    </div>
    <!--* paginator  -->
    <mat-paginator
      *ngIf="filteredRecipes.length > 0"
      [length]="filteredRecipes.length"
      [pageSize]="12"
      [pageSizeOptions]="[12, 24]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>

    <ng-template #noRecipes>
      <div *ngIf="searchFilter" class="no-recipes">
        No recipes match your search.
      </div>
    </ng-template>
  </div>
</section>
<ng-template #loading>
  <!--*loading spinner  -->
  <div *ngIf="loading" class="flex-center loading mt-5">
    <div class="snippet" data-title=".dot-flashing">
      <div class="stage">
        <div class="dot-flashing"></div>
      </div>
    </div>
  </div>
</ng-template>
