<div *ngIf="!loading" class="card" (click)="onCardClick()">
  <div
    *ngIf="!myRecipe"
    class="like-btn flex-center"
    stop-click-propagation
    (click)="onLike()"
  >
    <mat-icon>{{ liked ? "favorite" : "favorite_outline" }}</mat-icon>
  </div>
  <div
    *ngIf="myRecipe"
    class="edit-btn flex-center"
    stop-click-propagation
    [routerLink]="'edit/' + recipe._id"
  >
    <mat-icon>edit</mat-icon>
  </div>
  <img [src]="recipe.imagesSrcs[0]" alt="recipe-picture" />
  <div class="card-title px-3">{{ recipe.name }}</div>
  <div class="description px-3">
    {{
      recipe.description.slice(0, 65) +
        (recipe.description.length > 65 ? "..." : "")
    }}
  </div>
  <!--*rating  -->

  <div class="rating px-3">
    <div class="stars" *ngIf="rating; else notRated">
      <mat-icon>{{ rating < 1 ? "star_half" : "star" }}</mat-icon>
      <mat-icon>{{
        rating <= 1 ? "star_outline" : rating <= 1.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 2 ? "star_outline" : rating <= 2.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 3 ? "star_outline" : rating <= 3.5 ? "star_half" : "star"
      }}</mat-icon>
      <mat-icon>{{
        rating <= 4 ? "star_outline" : rating <= 4.5 ? "star_half" : "star"
      }}</mat-icon>

      <span>{{ recipe.ratings?.length }}</span>
    </div>
    <ng-template #notRated>
      <div class="my-2">No ratings yet</div>
    </ng-template>
    <div
      *ngIf="!myRecipe"
      class="rate my-2"
      stop-click-propagation
      (click)="onRate()"
    >
      Rate
    </div>
  </div>
</div>
