<div class="wrapper">
  <div class="title-container">
    <div class="profile-pic">
      <img
        [src]="
          data.user.profile?.profilePic
            ? data.user.profile?.profilePic
            : 'https://res.cloudinary.com/notkirito18/image/upload/v1658421093/assets/avth2x05glsetigstvdk_q6f4bi.jpg'
        "
        alt="profile-picture"
      />
    </div>
    <div class="title">{{ data.user.username }}</div>
  </div>
  <div class="container">
    <div class="contact">
      <div class="row">
        <a
          [href]="data.user.profile?.facebook"
          target="_blank"
          *ngIf="data.user.profile?.facebook"
          class="col-sm-6 social-lable"
        >
          <mat-icon svgIcon="facebook"></mat-icon>
          <span>Facebook</span>
        </a>
        <a
          [href]="data.user.profile?.instagram"
          target="_blank"
          *ngIf="data.user.profile?.instagram"
          class="col-sm-6 social-lable"
        >
          <mat-icon svgIcon="instagram"></mat-icon>
          <span>instagram</span>
        </a>
        <a
          [href]="data.user.profile?.pinterest"
          target="_blank"
          *ngIf="data.user.profile?.pinterest"
          class="col-sm-6 social-lable"
        >
          <mat-icon svgIcon="pinterest"></mat-icon>
          <span>pinterest</span>
        </a>
        <a
          [href]="data.user.profile?.personalWebsite"
          target="_blank"
          *ngIf="data.user.profile?.personalWebsite"
          class="col-sm-6 social-lable"
        >
          <mat-icon>language</mat-icon>
          <span>personalWebsite</span>
        </a>
      </div>
    </div>
    <div class="btn-container">
      <span class="route-btn" [routerLink]="'user-page/' + data.user._id">
        {{ data.user.username }}'s Recipes
      </span>
    </div>
  </div>
</div>
