.wrapper {
  margin: -24px;

  .title-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .profile-pic {
      width: 40px;
      height: 40px;
      outline: 2px solid var(--green);
      outline-offset: 1px;
      border-radius: 50%;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
    .container {
    padding: 24px;
    .contact {
        padding: 0px 20px;
        .social-lable {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: bold;
          padding: 10px;
          cursor: pointer;
          text-decoration: none;
          color: black;

          mat-icon[ svgIcon="facebook"] {
            color: #3d5b99;
          }

          mat-icon {
            overflow: visible !important;
          }
        }

        .social-lable:hover {
          span {
            text-decoration: underline;
          }
        }
      }
      .btn-container{
        text-align: center;
        padding-top: 20px;

        .route-btn{
          padding: 15px 50px ;
          border: 2px solid var(--green);
          font-weight: bold;
          cursor: pointer;
        }
        .route-btn:hover{
          background-color: var(--green);
          color: white;
        }
      }
    }

  p {
    font-size: 12px;
    margin: 25px 0px 0px;
  }
}
