/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "./bootstrap-grid.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --green:#0B987E;
  --darkGreen: #05705A;
  --lightGreen:#06B995;
  --red:#ef233c;
  --yellow:#ffc100;
  --dark:#001219;
  --grey:rgb(240, 240, 240);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
input[type=number] {
  -moz-appearance: textfield;
}

// loader dots
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--green);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--green);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--green);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}
carousel {
  z-index: 2 !important;
}
@keyframes dotFlashing {
  0% {
    background-color: var(--green);
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}

